# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your PlanetScale database.
DATABASE_URL=
# DATABASE_URL=sqlite.db

# @see https://next-auth.js.org/configuration/options#nextauth_url
# NEXTAUTH_URL='http://localhost:3000'

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET='supersecret'

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
# DISCORD_CLIENT_ID=''
# DISCORD_CLIENT_SECRET=''
# GOOGLE_CLIENT_ID=1134569598-kpc6l1p23t5tj263crr1dsd77obhkncc.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# EXPO_TOKEN=kib3uhsewnr_PEf2mU6ZvOqCRtVfqcWGc1i2qzXm


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
STREAM_API_KEY=
STREAM_API_SECRET=
RESEND_API_KEY=
NEXT_PUBLIC_WEBSOCKET_URL=